<html>
  <head>
    <title>My First Template</title>
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style_sheet.css') }}">
    <!-- linking a javascript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
  </head>
  <body>
    <h3>My first flask template with static content</h3>
    <!-- linking an image -->
    <img src="{{ url_for('static', filename='img/my_img.png') }}">
  </body>
</html>
