<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Integration Project</title>
  </head>
  <body>
    <h3>Integration Project: Select Your App</h3>
    <a href="{% url 'courses' %}">Courses</a>
    <p></p>
    <a href="{% url 'loginReg' %}">User Login/Registration</a>
    <p></p>
    <a href="{% url 'disappear' %}">Disappearing Ninjas</a>
    <p></p>
    <a href="{% url 'randomWord' %}">Random Word Generator</a>
    <p></p>
    <a href="{% url 'surveyApp' %}">Survey</a>
    <p></p>
  </body>
</html>
