<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets: Most Popular</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'secrets/css/style.css'%}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="main_content">
      <h1>Most Popular Secrets</h1>
      <!-- Buttons -->
      <form class="home" action="{% url 'secrets:success' %}" method="post">
        {% csrf_token %}
        <button type="submit" name="button">Back to Recents</button>
      </form>
      <!-- Display all secrets in order of popularity (likes) -->
      {% for message in messages %}
        <hr>
        <h4>Post #{{ message.id }}</h2>
        <p>{{ message.user_id }} {{ message.content }}
          ({{ message.created_at }})
          <span class="italic">{{message.likes}} Likes</span>
          <!-- allow users to delete their own secret messages -->
          {% if message.user.id == request.session.user_id %}
            You posted this: <a href="delete_message/{{ message.id }}">Delete</a>
          {% else %}
            <!-- check if user has liked this message -->
            {% for like in user_likes %}
              {% if like.message.id == message.id %}
                You liked this.
              {% endif %}
            {% endfor %}
            <a href="create_like/{{ message.id }}">Like</a>
          {% endif %}
          <!-- <button type="submit" formaction="create_like/{{ message.id }}" name="like" value="True">Like</button> -->
        </p>
      {% endfor %}
    </div><!-- end_of_main_content-->
  </body>
</html>
