<html>
  <head>
    <title>Remove Email Address</title>
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- error handler -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p id="red">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1>Enter Email Address to Remove</h1>
    <form action='/remove_friend' method='post'>
        Email: <input type='text' name='email_addr'>
        <input type='submit' value='Submit'>
    </form>

  </body>
</html>
