h1{
  color:blue;
}
#formBox{
  width:50%;
  border:2px solid green;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgreen;
  display:inline-block;
}

#resultsBox{
  width:50%;
  border:2px solid red;
  border-radius: 5px;
  padding: 10px;
  background-color: lightgreen;
}

#red{
  color: red;
}
