h3{
  width: 25%;
  text-align: center;
  color:blue;
}

.line{
  width: 25%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display:block;
  text-align: center;
}

#formBox{
  width:50%;
  border:2px solid red;
  border-radius: 5px;
  padding: 10px;
  background-color: lightpink;
  display:inline-block;
}

#resultsBox{
  width:50%;
  border:2px solid red;
  border-radius: 5px;
  padding: 10px;
  background-color: lightpink;
}
