<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User HomePage</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'LoginReg/css/style.css'%}" media="screen" title="no title"  charset="utf-8">
  </head>
  <body>
    <div class="main_content">
        <h3>Currently Logged in: {{request.session.name}}</h3>
      <fieldset>
        <legend>Registration</legend>
        <form class="register" action="{% url 'LoginReg:register' %}" method="post">
          {% csrf_token %}
          <label for="name">
            Name
            <input type="text" name="name">
          </label>
          <label for="last_name">
            Username
            <input type="text" name="username">
          </label>
          <label for="password">
            Password
            <input type="password" name="password" value='password'>
          </label>
          <label for="password_confirmation">
            Confirm Password
            <input type="text" name="password_confirmation" value='password'>
          </label>
          <label for="birthdate">
            Date of Birth
            <input type="date" name="birthdate">
          </label>
          <button type="submit" name="button">Register</button>
        </form>
      </fieldset>
      <fieldset>
        <legend>Login</legend>
        <form class="login" action="{% url 'LoginReg:login' %}" method="post">
          {% csrf_token %}
          <label for="username">
            Username
            <input type="username" name="username">
          </label>
          <label for="password">
            Password
            <input type="password" name="password">
          </label>
          <button type="submit" name="button">Login</button>
        </form>
      </fieldset>
      <fieldset>
        <legend>Other Actions</legend>
        <form class="AppointmentPage" action="{% url 'app1:dashboard' %}" method="post">
          {% csrf_token %}
          <button type="submit" name="button">Go to Appointment Page</button>
        </form>
        <form class="logout" action="{% url 'LoginReg:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" name="button">Logout</button>
        </form>
      </fieldset>
      <!-- flash any error messages -->
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </body>
</html>
