<html>
  <head>
    <title>Dojo Survey Index</title>
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>Dojo Survey Index</h1>
    <!-- error handler -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p id="red">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div id="formBox">
    <form action='/result' method='post'>
      Your Name: <input type='text' name='name'>
      Dojo Location: <select name='location'>
        <option value="San Jose">San Jose</option>
        <option value="Seattle">Seattle</option>
        <option value="Los Angeles">Los Angeles</option>
        <option value="Dallas">Dallas</option>
        <option value="Washington DC">Washington DC</option>
        <option value="Chicago">Chicago</option>
      </select>
      Favorite Language: <select name='language'>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="PHP">PHP</option>
        <option value="C#">C#</option>
        <option value="Fortran">Fortran</option>
      </select>
      <p>Comment (optional):</p>
      <textarea name='comment' rows="5" cols="50"></textarea>
      <input type='submit' value='Submit'>
    </form>
    </div>
  </body>
</html>
